.card{
    -webkit-box-shadow: 0px 0px 27px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 27px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 27px -6px rgba(0,0,0,0.75);
    border-radius: 10px;
    margin-top: 2em;
}

.card.changing{
    color: gray;
}

.title{
    border-bottom: 1px lightgray solid;
    padding: 1em;
}

.name{
    margin-top: 0;
}

.kt{
    margin-bottom: 0;
}

.options{
    display: flex;
    border-bottom: 1px lightgray solid;
}

.options > div{
    padding: 1em;
    flex: 1;
}

.options > div:first-child{
    border-right: 1px solid lightgray;
}

.options span{
    color: rgb(254,189,17);
    font-size: xx-large;
}

.options small{
    color: grey;
}

.summary{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.summary small{
    color: gray;
    font-size: small;
}

.summary span{
    color: gray;
    font-size: large;
}

.summary span strong{
    color: black;
}

.changing .summary span strong{
    color: gray;
}

.valueChanger{
    color: black;
}